body{
    font-family: 'Manrope', sans-serif;
    width: 1400px;
    height: 7211px;
   
}
.page{
    width: 1400px;
    height: 7211px;
    padding: 0 auto;
    margin: 0 auto;

}

header{
    display: flex;
}

.title{
    display: flex;
    width: 1151px;
    height: 25px;
    padding-left: 540px;
    text-align: left;
    font-size: 18px;

}

.btnfirst{
    font-size: 18px;
    width: 60px;
    height: 25px;
    padding-right: 60px;
    
}
.btnfree{
    font-size: 18px;
    width: 66px;
    height: 25px;
    padding-left: 60px;
}
.btnfour{
    font-size: 18px;
    width: 90px;
    height: 25px;
    padding-left: 60px;
}

.btnftwo{
    font-size: 18px;
    width: 79px;
    height: 25px;
    padding-left: 60px;
}

.header-container{
    width: 1151px;
    height: 25px;
    margin-left: 125px;
    margin-top: 32.82px;
    
}
h1{
    margin-left: 125px;
    margin-top: 73px;
    margin-bottom: 30px;
    width: 990px;
    height: 120px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    
}
.title-container{
    margin-left: 125px;
    width: 1150px;
    height: 650px;
    background-image: url(../images/Rectangle\.png);
    background-size: contain;
    background-repeat: no-repeat;

    
}
.title-container h2{
    padding-top: 379px;
    padding-left: 40px;
    width: 430px;
    height: 81px;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    color: #FFFFFF;
   
}
.subtitle-container{
    
    margin-left: 125px;
    margin-bottom: 280px; 
    width: 1055px;
    height: 400px;
    font-size: 40px;
    line-height: 62px;
}
 h3{
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
    
}
h4{
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 30px;

}
.links{
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 20px;

}
.button{
    margin-top: 30px;
    margin-bottom: 150px;
    width: 225px;
    height: 67px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background-color: #AD1818;
    
}

.project-container{
    width: 1150px;
    height: 2122px;
    margin-left: 125px;

}
.services-container{
    width: 1400px;
    height: 1844px;
    background-color: #121212;
}
.services-container h5{
    margin-top: 15px;
    margin-bottom: 60px;
    line-height: 40px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
}

.services{
    margin-left: 125px;
    padding-top: 151px;
    color: #FFFFFF;
}
.redbutton{
    display: block;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    text-align: center;
    line-height: 153px;
    border: 1px solid #AD1818;
    
}
.full-img{
    width: 1400px;
    height: 717px;
    background-image: url(../images/Rectangle9.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.full-img h5{
    padding-left: 125px;
    padding-top: 575px;
    display: flex;
    width: 440px;
    height: 82px;
    font-size: 25px;
    color: #FFFFFF;
    line-height: 40px;
    letter-spacing: 2px;
}
.Contacts-container{
    margin-top: 186px;
    margin-left: 120px;
    display: flex;
    width: 1400px;
    height: 553px;

}

